/*
    Created on : May 16, 2017, 10:05:07 PM
    Author     : Pham Quynh Anh
*/

body { padding-top: 15px; }

body, h1, h2, h3, h4 {
    font-family: Century Gothic, Tahoma, Meiryo;
}

.no-horizon-padding {
    padding-left: 0;
    padding-right: 0;
}

.avatar-padding {
    padding-top: 10px !important;
    padding-bottom: 5px !important;
}

.required
{
    border-left: thick solid #a94442;
}